.App {
  text-align: center;
}

body {
  font-family: "Satoshi", sans-serif;
  background-color: #EDFBFC;
}

.main-head {
  color: white;
}

/* Nav Styling */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

a {
  text-decoration: none;
  color: #131210;
}

a:hover {
  background-color: #a88c8a;
  border-radius: 2px;
}

button:hover {
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 50px;
  background: #19A6B3;
  color: #f5f5fbe3;
  padding: 16px 16px;
  font-family: "Satoshi", sans-serif;
  font-size: 20px;
  border-radius: 6px;
  /* border-top: #131210 solid;
  border-bottom: #131210 solid; */
}

.navbar img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.links {
  display: flex;
}

.links a {
  padding: 2px 8px;
  color: #f5f5fbe3;
}

.links a:hover {
  background-color: #13121022;
  border-radius: 4px;
}

.user {
  display: flex;
  align-items: center;
}

.user > * {
  padding: 0px 8px;
}

/* Create Post Styling */

.submit-post {
}

.submit-post:hover {
  cursor: pointer;
}

.form-box {
  display: flex;
  justify-content: center;
}

.form-box form {
  margin-top: 50px;
  padding: 30px 20px;
  background: #f0c58b;
  border: #282c34 solid;
  width: 500px;
  border-radius: 8px;
  box-shadow: #282c34 2px 2px;
  overflow: hidden;
}

.form-box input,
textarea {
  height: 30px;
  width: 450px;
  margin: 2px;
  border: #282c34 solid;
  border-radius: 8px;
  background: #e5dfd096;
  z-index: 1;
  text-align: center;
}

.form-box textarea {
  height: 150px;
}

/* Post Styling */

.body-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  /* border: #282c34 solid; */
  /* box-shadow: #282c34 5px 5px; */
  margin: 16px;
  border-radius: 8px;
  /* background: #e8d9db; */
  /* opacity: .95; */
}

.post-content + .comment-section {
  margin-left: 10px;
}

.post-content {
  border: #282c34 solid;
  box-shadow: #282c34 2px 2px;
  border-radius: 8px;
  margin: 12px;
  width: 600px;
  background-color: #002629;
  height: auto;
  color: #f5f5fbe3;
}

.header {
  display: flex;
  justify-content: space-between;
}

.user-reaction {
  border: none;
  border-radius: 100px;
  background: none;
  margin: 4px 8px;
  font-size: 24px;
}

.username {
  display: flex;
  justify-content: flex-start;
  margin: 8px;
}

.inner-post-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  padding: 0px 8px;
}

.body p {
  padding: 0px 16px;
}

.post-description {
  width: 450px;
  overflow: auto;
}

.justify-start {
  display: flex;
  justify-content: flex-start;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer p {
  margin: 8px;
  font-size: 24px;
}

.like-btn {
  border: none;
  border-radius: 100px;
  background: none;
  margin: 0px 8px;
  font-size: 24px;
}

.reactions {
  display: flex;
}

.reaction p {
  margin: 0px 0px 0px 16px;
  font-size: 16px;
  padding: 0px;
}

.reaction button {
  padding: 0px;
}

/* Comment Section Stlying */

.comment-section {
  margin: auto 0px;
  width: 300px;
  border: #282c34 solid;
  box-shadow: #282c34 2px 2px;
  border-radius: 8px;
  background-color: #002629;
  background: #001314;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
}

/* .yo {
  border: #282c34 solid;
  box-shadow: #282c34 2px 2px;
  border-radius: 8px;
  margin: 6px;
  width: 600px;
  background: #f0c58b;
  height: auto;
} */

.comment-form {
  display: flex;
  align-items: flex-end;
  margin-top: auto;
}

.submit-comment {
  height: 31px;
  width: 250px;
  margin: 2px;
  border: #282c34 solid;
  border-radius: 8px;
  background: #e5dfd096;
}

.submit-comment-btn {
  height: 42px;
  font-size: 30px;
  background: none;
  border: #282c34 solid;
  border-radius: 8px;
}

.submit-comment-btn:hover {
  cursor: pointer;
}

.comments-display {
  overflow: auto;
  padding: 12px;
}

.comments-display p {
  margin: 8px 0px;
  text-align: start;
  /* background: #4f4f55ed; */
  /* border-radius: 4px; */
  color: #19A6B3;
  padding: 3px;
}

.each-comment {
  width: fit-content;
}

/* Scrollbar Styling */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
