.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

a {
  text-decoration: none;
  color: #c1d37f;
}

a:hover {
  background-color: #a88c8a;
  border-radius: 2px;
}

button:hover {
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 50px;
  background: #664e4c;
  color: #c1d37f;
  padding: 16px 16px;
}

.navbar img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.links {
  display: flex;
}

.links a {
  padding: 0px 8px;
}

.user {
  display: flex;
  align-items: center;
}

.user > * {
  padding: 0px 8px;
}

.submit:hover {
  cursor: pointer;
}

.form-box {
  display: flex;
  justify-content: center;
}

form {
  margin-top: 50px;
  padding: 30px 20px;
  background: #a88c8a;
  width: 350px;
  border-radius: 16px;
  overflow: hidden;
}

input,
textarea {
  padding: 8px 18px;
  margin: 3px 8px 16px 8px;
  background-color: rgba(222, 239, 248, 0.877);
  border: 0px transparent;
  border-radius: 5px;
  font-size: 16px;
  z-index: 1;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
